@model IList<Catg.Prop.Value>
<div class="card">
    @using(Html.BeginForm()){
    <div class="card-header ch-alt">
        <h2>属性值</h2>
        <ul class="actions">
            <li>
                <a href="javascript:void(0);">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>属性值</th>
                        <th>别名</th>
                        <th>排序</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    @{var i=1;} @foreach(var o in Model){
                    <tr>
                        <td>@(i)</td>
                       <td>@(o.Id)
                            <input name="propValues[@(i)].Id" type="hidden" value='@(o.Id)' />
                        </td>
                        <td>
                             @(o.Name)
                            @*<input name="propValues[@(i)].Name" type="text" class="form-control input-sm" maxlength="10" value='@(o.Name)' style="width:140px;padding:4px 8px;" onkeypress="this.value=this.value.replace(/[^\u4e00-\u9fa5\A-Za-z0-9]/g, '')" />*@

                        </td>
                        <td>
                            <input name="propValues[@(i)].Alias" type="text" class="form-control input-sm" maxlength="10" value='@(o.Alias)' style="width:140px;padding:4px 8px;" onkeypress="this.value=this.value.replace(/[^\u4e00-\u9fa5\A-Za-z0-9]/g, '')" />
                        </td>
                        <td>
                            <input name="propValues[@(i)].Priority" type="text" class="form-control input-sm" maxlength="4" value='@(o.Priority)' style="width:45px;padding:4px 8px;" onkeyup="this.value=this.value.replace(/\D/g, '');" />
                        </td>
                        <td>
                            <label class="checkbox checkbox-inline">
                            <input type="checkbox" name="propValues[@(i)].Status" value="@(o.Status)" @(o.Status==0?"checked=checked":"")  onclick="if(this.checked){this.value=0}else{this.value=1}"/>
                            <i class="input-helper"></i>
                            </label>
                        </td>
                    </tr>
                    i++; }
                </tbody>
            </table>
        </div>
    </div>
    }
</div>