@model SlideItemDetailModel

<div class="container">
    <div class="card">

        <div class="card-header ch-alt">
            <h2>@(Model.SlideItem.Id > 0 ? "编辑" : "添加") 幻灯片条目</h2>

        </div>
        <div class="card-body card-padding">
            @using (Html.BeginForm())
            {
                @if (Model.SlideItem.Id > 0)
                {
                    <div class="form-group">
                        <div class="fg-line">
                            <label>Id</label>
                            <p class="form-control-static">@(Model.SlideItem.Id)</p>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-Name">名称</label>
                        <input id="input-Name" name="Name" type="text" class="form-control" maxlength="50" value="@(Model.SlideItem.Name)" placeholder="名称">
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-Title">标题</label>
                        <input id="input-Title" name="Title" type="text" class="form-control" maxlength="50" value="@(Model.SlideItem.Title)" placeholder="标题">
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-NavUrl">链接</label>
                        <input id="input-NavUrl" name="NavUrl" type="text" class="form-control" maxlength="300" value="@(Model.SlideItem.NavUrl)" placeholder="链接">
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-ImageSrc">图片</label>
                        <input id="input-ImageSrc" name="ImageSrc" type="url" class="form-control" maxlength="300" value="@(Model.SlideItem.ImageSrc)" placeholder="图片">
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-ThumbSrc">缩略图</label>
                        <input id="input-ThumbSrc" name="ThumbSrc" type="url" class="form-control" maxlength="300" value="@(Model.SlideItem.ThumbSrc)" placeholder="缩略图">
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-StartedOn">开始时间</label>
                        <input id="input-StartedOn" name="StartedOn" type="url" class="form-control date-time-picker" maxlength="18" value="@(Model.SlideItem.StartedOn.ToString("yyyy-MM-dd HH:mm:ss"))" placeholder="开始时间">
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-StoppedOn">结束时间</label>
                        <input id="input-StoppedOn" name="StoppedOn" type="url" class="form-control date-time-picker" maxlength="18" value="@(Model.SlideItem.StoppedOn.ToString("yyyy-MM-dd HH:mm:ss"))" placeholder="结束时间">
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-Description">描述</label>
                        <input id="input-Description" name="Description" type="text" class="form-control" maxlength="200" value="@(Model.SlideItem.Description)" placeholder="描述">
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-Priority">排序</label>
                        <input id="input-Priority" name="Priority" type="text" class="form-control" maxlength="4" value="@(Model.SlideItem.Priority)" placeholder="排序">
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-Extra">备注</label>
                        <input id="input-Extra" name="Extra" type="text" class="form-control" maxlength="300" value="@(Model.SlideItem.Extra)" placeholder="备注">
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="input-Status">状态</label>
                        <select id="input-Status" name="Status" class="form-control">
                            <option value="true" @(Model.SlideItem.Status ? "selected" : string.Empty)>可用</option>
                            <option value="false" @(!Model.SlideItem.Status ? "selected" : string.Empty)>不可用</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-lg btn-block waves-effect" onclick="submitForm(this);" data-loading-text="提交中...">
                        提 交
                    </button>

                </div>
            }
        </div>

    </div>
</div>
@section css{
    <link href="@(WebSite.Static)/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
}
@section js{
    <script src="@(WebSite.Static)/js/moment.min.js"></script>
    <script src="@(WebSite.Static)/js/bootstrap-datetimepicker.min.js"></script>

}

@section jsOmega{
    <script type="text/javascript">

        function submitForm(btn) {
            var form = btn.form;
            $(btn).button('loading');
            var param = $(form).serialize();
            $.post(form.action, param, function (r) {
                if (r.status) {
                    $(btn).button('reset');
                    //notify('操作成功', 'success');
                    /*
                    if (result.Extra != null && result.Extra != "") {
                        alert(result.Extra + "不存在");
                    }
                    if (result.Data != null) {
                        setTimeout(function () {
                            window.location = "/Trial/TrialPlanDetail/" + result.Data;
                        }, 500);
                    } else {
                        window.location.reload();
                    }
                    */
                }
                else {
                    $(btn).button('reset');
                    //notify(result.Message, 'danger');
                }
            }, "json");
            return false;
        }

        $(function () {
            $('.date-time-picker').datetimepicker({ format:'YYYY-MM-DD HH:mm:ss'});

        });
    </script>
}