@model PromotionModel.ActityDetail
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>
                @(Model.Promotion.Id == 0 ? "新增" : "编辑")店铺活动
                <small>1.填写基本信息 2.设置优惠门槛及内容 3.确认活动商品</small>
            </h2>
            <ul class="actions">
                <li>
                    <a href="~/promotion/activity-list" class="btn btn-danger btn-icon"><i class="md md-arrow-back"></i></a>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="fg-line">
                        <label for="control-Name">名 称</label>
                        <input id="control-Name" name="Name" type="text" class="form-control" maxlength="100" value="@(Model.Promotion.Name)" placeholder="名 称">
                    </div>
                    <p class="help-block">
                        限制在10个字符以内
                    </p>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="control-StartedOn">开始时间</label>
                        <input id="control-StartedOn" name="StartOn" type="text" class="form-control date-time-picker" maxlength="19" value="@(Model.Promotion.StartedOn)" data-date-format="YYYY-MM-DD HH:mm:ss" placeholder="开始时间">
                    </div>
                    <p class="help-block">
                        活动创建后，活动时间将无法修改
                    </p>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="control-StoppedOn">结束时间</label>
                        <input id="control-StopOn" name="StoppedOn" type="text" class="form-control date-time-picker" maxlength="19" value="@(Model.Promotion.StoppedOn)" data-date-format="YYYY-MM-DD HH:mm:ss" placeholder="结束时间">
                    </div>
                    <p class="help-block">
                        活动创建后，活动时间将无法修改
                    </p>
                </div>
                <div class="form-group fg-line">
                    <label for="control-WarmUp">活动预热</label>
                    <select id="control-WarmUp" name="WarmUp" class="form-control">
                        @foreach (var o in Promotion.Activity.WarmUpDic)
                        {
                            if (Model.Promotion.WarmUp == o.Key)
                            {
                                <option value="@(o.Key)" selected="selected">@(o.Value)</option>
                            }
                            else
                            {
                                <option value="@(o.Key)">@(o.Value)</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group fg-line">
                    <label for="control-Name">活动类型</label>
                    <select id="control-Name" name="Name" class="form-control">
                        <option value="0">满元减</option>
                        <option value="1">满件折</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="control-Discount">优惠规则</label>
                    <div style="border: 1px solid #f0f0f0;">
                        <table class="table table-border table-hover">
                            <thead><tr><th>层级</th><th>规则</th><th>优惠</th><th>说明</th><th>操作</th></tr></thead>
                            <tbody>
                                @{ var i = 0;}
                                @foreach (var o in Model.Promotion.Rules)
                                {
                                    <tr>
                                        <td>
                                            @(i + 1)
                                            <input name="rules[@(i)].Index" type="hidden" />
                                        </td>
                                        <td>
                                            满
                                            <p class="fg-line">
                                                <input name="rules[@(i)].Threshold" type="text" class="form-control input-sm" maxlength="6" value="@(o.Threshold > 0 ? o.Threshold.ToString() : "")" o onkeyup=" this.value=this.value.replace(/\D/g, '' ); " />
                                            </p>
                                            <span class="unit">元</span>
                                        </td>
                                        <td>
                                            <p>
                                                <label class="checkbox checkbox-inline">
                                                    <input type="checkbox" name="rules[@(i)].Discount" value="@(o.Discount > 0 ? "true" : "false")" onclick=" if (this.checked) { this.value=true; $(this).parent().next('input').removeAttr('disabled'); } else { this.value=false; $(this).parent().next('input').val('').attr('disabled', 'disabled' ); } ">
                                                    <i class="input-helper"></i>减
                                                </label>
                                                <input type="text" name="rules[@(i)].Value" class="form-control input-sm text-center c-red f-500" value="@(o.Discount > 0 ? o.Discount.ToString() : "")" style="display: inline-block; width: 80px;" maxlength="4" onkeyup=" this.value=this.value.replace(/\D/g, '' ); " />
                                                <span class="unit">元</span>
                                            </p>

                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <p class="help-block">
                        最多可设置五级优惠
                    </p>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-lg btn-block waves-effect" onclick="submitForm(this);" data-loading-text="提交中...">
                        提 交
                    </button>
                </div>
                                    }
        </div>
    </div>

</div>
@section css{

}

@section js{
    <script src="http://cdn.bootcss.com/moment.js/2.10.2/moment.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        function del(param) {
            swal({
                title: "确认删除？",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "取 消",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删 除",
                closeOnConfirm: false
            }, function () {
                $.post('/admin/article/delete', { param: param }, function (result) {
                    if (result.Code == 0) {
                        swal("删除成功!", '', "success");
                    } else {
                        swal("删除失败!", '', "warning");
                    }
                }, 'json');
            });
        }

        $(function () {
            $('.date-time-picker').datetimepicker();
        });
    </script>
}